{% include 'cisco/ios/aaa.j2' %}
!
clock timezone PST -8 0
clock summer-time PDT recurring
!
no ip http server
no ip http secure-server
no ip finger
no ip source-route
no ip gratuitous-arps
no ip domain-lookup
!
ip routing
{% include 'cisco/ios/dns.j2' %}
!
{% include 'cisco/ios/ssh.j2' %}
archive
 log config
  logging enable
  logging size 700
  hidekeys
 path flash:archive
 maximum 10
 write-memory
!
hostname {{device.name}}
!
{% include 'cisco/ios/users.j2' %}
!
{% include 'cisco/ios/acls.j2' %}
!
{% include 'cisco/ios/vlans.j2' %}
!
{% include 'cisco/ios/interfaces.j2' %}
!
{% include 'cisco/ios/syslog.j2' %}
!
{% include 'cisco/ios/snmp.j2' %}
!
!
banner login %

{% include 'common/banner.j2' %}

%
!
{% include 'cisco/ios/line.j2' %}
!
{% include 'cisco/ios/ntp.j2' %}
!
